<h3> View Business Details</h3>
<div>
  <div>
    <label> <strong>Name: </strong></label>{{business.name}}
  </div>
  <div>
    <label> <strong>Owner first name: </strong></label>{{business.ownerFirstName}}
  </div>
  <div>
    <label> <strong>Owner last name: </strong></label>{{business.ownerLastName}}
  </div>
  <div>
    <label> <strong>Address: </strong></label>
    <label> <strong>Street: </strong></label>{{business.email}}
    <label> <strong>Postal code: </strong></label>{{business.email}}
    <label> <strong>City: </strong></label>{{business.email}}
  </div>
  <div>
    <label> <strong>Description: </strong></label>{{business.description}}
  </div>
  <div>
    <label> <strong>Email: </strong></label>{{business.email}}
  </div>
  <div>
    <label> <strong>Website: </strong></label>{{business.website}}
  </div>
  <div>
    <label> <strong>Phone: </strong></label>{{business.phone}}
  </div>
  <div>
    <label> <strong>Logo: </strong></label>{{business.logo}}
  </div>
  <div>
    <label> <strong>Images: </strong></label>{{business.images}}
  </div>
  <div>
    <label> <strong>Tags: </strong></label>{{business.tags}}
  </div>
</div>
