<h3> View Business Details</h3>
<div>
  <div>
    <label> <strong>Name: &nbsp;</strong></label>{{business.name}}
  </div>
  <div>
    <label> <strong>Owner first name: &nbsp;</strong></label>{{business.ownerFirstName}}
  </div>
  <div>
    <label> <strong>Owner last name: &nbsp;</strong></label>{{business.ownerLastName}}
  </div>
  <div>
    <label> <strong>Address: &nbsp;</strong></label>
    <br/>
    <label> <strong>&nbsp;&nbsp;&nbsp;&nbsp; Street: &nbsp;</strong></label>{{business.email}}
    <br/>
    <label> <strong>&nbsp;&nbsp;&nbsp;&nbsp; Postal code: &nbsp;</strong></label>{{business.email}}
    <br/>
    <label> <strong>&nbsp;&nbsp;&nbsp;&nbsp; City: &nbsp;</strong></label>{{business.email}}
  </div>
  <div>
    <label> <strong>Description: &nbsp;</strong></label>{{business.description}}
  </div>
  <div>
    <label> <strong>Email: &nbsp;</strong></label>{{business.email}}
  </div>
  <div>
    <label> <strong>Website: &nbsp;</strong></label>{{business.website}}
  </div>
  <div>
    <label> <strong>Phone: &nbsp;</strong></label>{{business.phone}}
  </div>
  <div>
    <label> <strong>Logo: &nbsp;</strong></label>{{business.logo}}
  </div>
  <div>
    <label> <strong>Images: &nbsp;</strong></label>{{business.images}}
  </div>
  <div>
    <label> <strong>Tags: &nbsp;</strong></label>{{business.tags}}
  </div>
</div>
