<h3> View Business Details</h3>
<div>
  <div>
    <label> <strong>Name: &nbsp;</strong></label>{{business.name}}
  </div>
  <div>
    <label> <strong>Owner first name: &nbsp;</strong></label>{{business.ownerFirstName}}
  </div>
  <div>
    <label> <strong>Owner last name: &nbsp;</strong></label>{{business.ownerLastName}}
  </div>
  <div>
    <label> <strong>Address: &nbsp;</strong></label>
    <br/>
    <label> <strong>&nbsp;&nbsp;&nbsp;&nbsp; Street: &nbsp;</strong></label>{{business.address.street}}
    <br/>
    <label> <strong>&nbsp;&nbsp;&nbsp;&nbsp; Postal code: &nbsp;</strong></label>{{business.address.postalCode}}
    <br/>
    <label> <strong>&nbsp;&nbsp;&nbsp;&nbsp; City: &nbsp;</strong></label>{{business.address.city}}
  </div>
  <div>
    <label> <strong>Description: &nbsp;</strong></label>{{business.description}}
  </div>
  <div>
    <label> <strong>Email: &nbsp;</strong></label>{{business.email}}
  </div>
  <div>
    <label> <strong>Website: &nbsp;</strong></label>{{business.website}}
  </div>
  <div>
    <label> <strong>Phone: &nbsp;</strong></label>{{business.phone}}
  </div>
  <div>
    <div class="row">
      <div class="col-sm">
        <label> <strong>Logo: &nbsp;</strong></label>
      </div>
      <div class="col-sm">
        <img src="{{business.logo}}" alt="Business' logo" width="300px" height="160px">
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-sm">
        <label> <strong>Images: &nbsp;</strong></label>
      </div>
      <div class="col-sm">
        <ngb-carousel *ngIf="business.images">
          <ng-template ngbSlide *ngFor="let image of business.images; let i = index">
            <div class="picsum-img-wrapper">
              <img src="{{image}}" alt="Image {{i}}" style="height:350px; width:600px;">
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
  <div>
    <label> <strong>Tags: &nbsp;</strong></label>{{business.tags}}
  </div>
</div>
